---
# mysql root password
vault_mysql_root_password: "XXXXXX"
vault_db_sql_mailman_pass: "loremIpsumDolorSitAmet"
vault_db_sql_roundcube_pass: "loremIpsumDolorSitAmet"
vault_rspamd_password: "$2$uwioze8k5k7gd9txfggmg6w6gurkd387$xdfagphx75hrn3o5qjnyga7fg1kne3k19tjqy8pm9u8yf9586m3y"
vault_rspamc_password: "loremIpsumDolorSitAmet"

vault_dkim_private_key_your_domain: |
  -----BEGIN RSA PRIVATE KEY-----
  -----END RSA PRIVATE KEY-----
